---
layout: default
---

<div>
    <h1 class="blog-header mb-1">
        <a href="/index"><span class="color-red">Moravec</span> <span class="color-blue">Labs</span></a>
    </h1>
</div>
<div class="content-section">
    <div class="container">
        <h4>Projects</h4>
        {% for project in site.projects %}
        <h3><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></h3>
        {% endfor %}
        <div>
        {% if project.picture %}
        <img src="{{ project.picture }}" alt="Photo of a {{ project.title | downcase }}">
        {% endif %}
        </div>
        <!--<p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
    </div>
</div>