<!-- Footer -->
<div class="footer text-center flex-container content-section">
  <div flex-container>
  <div><a class="js-scroll-trigger" href="/#about">About</a></div>
  <div><a class="js-scroll-trigger" href="/#blog">Blog</a></div>
  <div><a class="js-scroll-trigger" href="/#portfolio">Projects</a></div>
  <div><a class="js-scroll-trigger" href="#contact">Contact</a></div>
  </div>
  <div flex-container>
<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/company/moravec-labs/">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/MoravecLabs">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="https://github.com/MoravecLabs">
          <i class="fab fa-github-alt"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">&copy; 2018 Moravec Labs LLC</p>
  </div>
</footer>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- JavaScript third-party Dependencies -->
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/jquery/jquery.easing.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts (that load on all pages) -->
<script src="/js/main.js"></script>